# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.so

# Virtual environment
venv/
.venv/
env/

# Secrets
.env
*.env.local

# HuggingFace model cache
.cache/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Docker build cache
*.tar
/contexte